@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

body {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    color: #2d2d34;
    background-color: #d8d2d8;
}

.logo {
    width: 40%;
}

/* Navbar */

nav, 
.nav-container {
    background-color: #f1dee4;
}

#btnCarrito {
    border: none;
}

#btnCarrito:focus {
    border: none;
}

#contadorCarrito {
    background-color: #b97375;
    color: white;
}

/* Contenedor */

.boton-comprar {
    background-color: #ceb1be;
    border: none;
}

.boton-comprar:hover {
    border: none;
    background-color: #ceb1bea7;
}

.boton-comprar:focus {
    background-color: #ceb1be;
    border: none;
}

#btnEliminar {
    font-size: 0.6em;
}